In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Suppressing warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv("hot-100-current.csv")

In [3]:
data

,chart_week,current_week,title,performer,last_week,peak_pos,wks_on_chart
0,2022-01-01,1,All I Want For Christmas Is You,Mariah Carey,1.0,1,50
1,2022-01-01,2,Rockin' Around The Christmas Tree,Brenda Lee,2.0,2,44
2,2022-01-01,3,Jingle Bell Rock,Bobby Helms,4.0,3,41
3,2022-01-01,4,A Holly Jolly Christmas,Burl Ives,5.0,4,25
4,2022-01-01,5,Easy On Me,Adele,3.0,1,11
...,...,...,...,...,...,...,...
343595,2021-11-13,96,Lets Go Brandon,Loza Alexander,38.0,38,3
343596,2021-11-13,97,Just About Over You,Priscilla Block,95.0,95,4
343597,2021-11-13,98,To Be Loved By You,Parker McCollum,96.0,96,2
343598,2021-11-13,99,Let's Go Brandon,Bryson Gray Featuring Tyson James & Chandler C...,28.0,28,2
343599,2021-11-13,100,Ghost Town,Benson Boone,NaN,100,1

In [4]:
data.isnull().sum()

chart_week          0
current_week        0
title               0
performer           0
last_week       32460
peak_pos            0
wks_on_chart        0
dtype: int64

In [5]:
data.shape

(343600, 7)

In [6]:
print(data['performer'].value_counts().head())

performer
Taylor Swift     1551
Drake             924
Elton John        889
Madonna           857
Kenny Chesney     780
Name: count, dtype: int64

In [7]:
data.groupby(['title', 'performer']).size().reset_index(name='count').sort_values(by='count', ascending=False).head(20)

,title,performer,count
10077,Heat Waves,Glass Animals,91
3097,Blinding Lights,The Weeknd,90
20844,Radioactive,Imagine Dragons,87
21901,Sail,AWOLNATION,79
12922,I'm Yours,Jason Mraz,76
23309,Snooze,SZA,70
10939,How Do I Live,LeAnn Rimes,69
19964,Party Rock Anthem,LMFAO Featuring Lauren Bennett & GoonRock,68
4979,Counting Stars,OneRepublic,68
23625,Something In The Orange,Zach Bryan,66
8018,Foolish Games/You Were Meant For Me,Jewel,65
21592,Rolling In The Deep,Adele,65
1186,All I Want For Christmas Is You,Mariah Carey,64
2654,Before He Cheats,Carrie Underwood,64
24089,Stay,The Kid LAROI & Justin Bieber,63
30868,You Proof,Morgan Wallen,62
10535,Ho Hey,The Lumineers,62
11717,I Hope,Gabby Barrett Featuring Charlie Puth,62
30558,You And Me,Lifehouse,62
1853,As It Was,Harry Styles,61

In [8]:
data.groupby(['performer', 'chart_week'])['title'].count().reset_index() \
    .groupby('performer')['chart_week'].count().reset_index(name='weeks_in_chart') \
    .assign(years_in_chart=lambda df: df['weeks_in_chart'] / 52) \
    .sort_values(by='years_in_chart', ascending=False)

                          performer  weeks_in_chart  years_in_chart
2846                     Elton John             812       15.615385
5044                  Kenny Chesney             743       14.288462
9978                     Tim McGraw             721       13.865385
5942                        Madonna             682       13.115385
4995                    Keith Urban             663       12.750000
...                             ...             ...             ...
8622  Swae Lee Featuring Slim Jxmmi               1        0.019231
8621       Swae Lee Featuring Drake               1        0.019231
2181                    Danny Gokey               1        0.019231
5206                Koryn Hawthorne               1        0.019231
5455  Lil Baby, Lil Durk & Rod Wave               1        0.019231

[10849 rows x 3 columns]

In [9]:
data.groupby('performer')['title'].nunique().reset_index(name='unique_songs') \
    .sort_values(by='unique_songs', ascending=False)

                                               performer  unique_songs
8753                                        Taylor Swift           235
3539                                           Glee Cast           183
2614                                               Drake           145
10730                         YoungBoy Never Broke Again            80
8909                                         The Beatles            66
...                                                  ...           ...
5885                                         MC Luscious             1
5884                                             MC Eiht             1
5883                                 MAX Featuring gnash             1
5882                                              MAGIC!             1
10848  Â¥$: Ye & Ty Dolla $ign Featuring Rich The Kid ...             1

[10849 rows x 2 columns]

In [10]:
data['title'].nunique()

25970

In [11]:
data['title'].count()

343600

In [12]:
data[['title', 'performer']].drop_duplicates().shape[0]

31344

In [13]:
data.shape

(343600, 7)

In [14]:
data['chart_week'] = pd.to_datetime(data['chart_week'])
data['year'] = data['chart_week'].dt.year


grouped = data.groupby(['year', 'title', 'performer']).size().reset_index(name='weeks_on_chart')

top_100_per_year = (
    grouped.groupby('year', group_keys=False)
    .apply(lambda x: x.nlargest(100, 'weeks_on_chart'))
    .reset_index(drop=True)
)

In [15]:
top_100_per_year.sort_values(['year', 'weeks_on_chart'], ascending=[True, False], inplace=True)

In [16]:
top_100_per_year

,year,title,performer,weeks_on_chart
0,1958,Chantilly Lace,Big Bopper,22
1,1958,Rock-in Robin,Bobby Day,21
2,1958,It's All In The Game,Tommy Edwards,20
3,1958,Tears On My Pillow,Little Anthony And The Imperials,19
4,1958,Topsy II,Cozy Cole,19
...,...,...,...,...
6695,2024,Act II: Date @ 8,4Batz,9
6696,2024,Dance The Night,Dua Lipa,9
6697,2024,First Person Shooter,Drake Featuring J. Cole,9
6698,2024,Good Good,"Usher, Summer Walker & 21 Savage",9
6699,2024,IDGAF,Drake Featuring Yeat,9

In [17]:
top_100_per_year.to_csv('top_100_songs_by_year.csv', index=False)

In [19]:
top_100_per_year.shape

(6700, 4)

In [21]:
top_100_per_year.isnull().sum()

year              0
title             0
performer         0
weeks_on_chart    0
dtype: int64